.imge{
    width: 2vw;
    height: 1vw;
    margin-right: 5px;
}
.tableCurrency{
    border: 1px solid #417e92;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding-right: 0px;
    padding: 5px 15px 5px 15px;
}
.kendoCurrencyGrid{
    width: auto;
} 
.tableCurrency div table tbody tr td{
    border: 0px !important;
    padding: 2px 0;
    color:#02536e; 
}
.tableCurrency div table tbody tr{
    background-color: #fff;
}
.tableCurrency .k-grid{
    margin-left: 10px ;
}
.gridCurrencyTitle{
    color: #02536e;
    margin-left: 10px;
    font-size: 1.1vw
}
.CoursValue{
    text-align: right;
    padding-right: 10px;
    font-size: 11px
}
.cours{
    font-size: 0.7vw;
}
.tableCurrency div table thead{
    display: none;
}
